/* CSS file is a mess. Should switch to component styling if for some reason this project is continued */

:root {
  --pbBackgroundColor: #fff1c1;
  --pbRedColor: #761f18;
  --pbYellowColor: rgb(255, 217, 116);
  --pbLightYellowColor: #fee39f;
}

body {
  background-color: var(--pbBackgroundColor);
  display: flex;
  justify-content: center;
}

header {
  background-color: var(--pbRedColor);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

#logoContainer img {
  margin-left: 20px;
  margin-top: 10px;
  max-width: calc(100% - 40px);
}

header a {
  margin: 20px;
}

input {
  width: 25px;
  height: 25px;
  accent-color: var(--pbRedColor);
}

label {
  font-size: 25px;
}

input:hover,
label:hover {
  cursor: pointer;
}

#content {
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
}

#logoContainer {
  width: 1440px;
}

#possiblePizzas {
  width: 24ch;
  height: calc(90vh - 200px);
  overflow-y: scroll;
  margin-top: 150px;
  margin-left: 20px;
  background-color: var(--pbLightYellowColor);
  color: var(--pbRedColor);
  padding: 0 20px 0 20px;
  z-index: 1;
}

#options {
  display: inline-flex;
  width: 100%;
  min-height: 2em;
  margin: 150px 0 0px 0;
  padding: 20px 0 20px 0;
  justify-content: space-evenly;
  background-color: var(--pbLightYellowColor);
}

#pizzaOne {
  position: absolute;
  right: 0;
  top: 25%;
  z-index: -1;
}

#pizzaTwo {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
}

#pizzaThree {
  position: absolute;
  right: 0;
  top: 75%;
  z-index: -1;
}

#selectedPizza {
  text-align: center;
  top: 350px;
  display: inline-block;
}

#selectedPizza h3 {
    margin-bottom: 2px;
}

#selection {
  text-align: center;
  background-color: var(--pbBackgroundColor);
  width: 50vw;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  #options {
    flex-direction: column;
    text-align: center;
    width: 90%;
  }

  input {
    margin: 10px;
    width: 15px;
    height: 15px;
  }

  label {
    font-size: 20px;
  }

  #selectedPizza {
    width: 40vw;
  }

  #possiblePizzas {
    width: 50%;
    padding: 0 1% 0 1%;
    margin-right: 10px;
  }

  #selectedPizza button {
    font-size: 20px;
    width: 80%;
  }
}
