body {
  background-color: #e6a330;
}

#possiblePizzas {
  position: absolute;
  width: 20%;
  height: 80%;
  left: 70%;
  overflow-y: scroll;
  top: 160px;
  background-color: #700c04;
  color: #e6a330;
  padding: 0 20px 0 20px;
  z-index: 2;
}

#options {
  display: flex;
  width: 70%;
  margin-top: 50px;
  justify-content: space-evenly;
}

#selectedPizza {
  position: absolute;
  width: 50%;
  left: 10%;
  text-align: center;
  top: 200px;
}

#selectedPizza button {
  background-color: #700c04;
  color: #e6a330;
  border: none;
  width: 200px;
  font-size: 30px;
}

input {
  width: 25px;
  height: 25px;
  accent-color: #700c04;
}

label {
  font-size: 25px;
}
